@model System.Collections.Generic.List<CinemaWeb.Models.DataAccessPostgreSqlProvider.DbCinema>
@{
    ViewBag.Title = "Кинотеатры";
    Layout = "_Layout";
}
<h2>@ViewBag.Title</h2>
@foreach (var cinema in Model)
{
    <div>
        Название:
        @cinema.Name
        Адрес:
        @cinema.Adress
       
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <td>Название</td>
                    <td>Мест</td>
                    <td>Время</td>
                </tr>
            </thead>
            @if (cinema.Films != null)
            {
                foreach (var film in cinema.Films)
                {
                    <tr>
                        <td>@film.Name</td>
                        <td>@film.Seats</td>
                        <td>@film.Time</td>
                    </tr>
                }
            }
        </table>
    </div>
}


